#global-message {
  color: white;
  background-color: rgb(205, 20, 67);
  text-align: center;
  padding: 16px;
}
#global-message a {
  color: white;
}
#global-message a:hover, #global-message a:focus {
  border-bottom: 2px solid white;
}
#global-message * {
  margin: 0;
  padding: 0;
}

