ol {
  &.decimal {
    padding: 0 0 16px 32px;

    li > ol {
      margin: 0;
      padding: 0 0 8px 32px;

      li {
        display: list-item;
        list-style-type: lower-alpha;

        > ol li {
          display: list-item;
          list-style-type: lower-roman;

          > ol li {
            display: list-item;
            list-style-type: upper-roman;
          }
        }
      }
    }
  }
}
