/**
 * area colours need to be set in the following documents:
 * uw_ct_event/css/uw_ct_event.css
 * uw_ct_home_page_banner/css/banner.css
 * uw_ct_home_page_banner/css/uw_banner_slideshow.css
 * uw_wysiwyg_ckeditor/css/uw_ckeditor.css
 * uw_fdsu_theme/css/colors.css
 */

$faculties: 
org_default $uw-black $uw-black darken($uw-default, 8%) url("../images/rwd-home/chevrons-yellow.png") $medium-gray org_default_bg $uw-gold, 
org_ahs $uw-ahs $uw-ahs-light darken($uw-ahs, 9%) url("../images/rwd-home/chevrons-teal.png") $uw-ahs org_ahs_bg $uw-ahs-light, 
org_art $uw-arts $uw-arts-light darken($uw-arts, 5%) url("../images/rwd-home/chevrons-orange.png") $uw-arts org_art_bg $uw-arts-light, 
org_eng $uw-engineering $uw-engineering-light darken($uw-engineering, 5%) url("../images/rwd-home/chevrons-purple.png") $uw-engineering org_eng_bg $uw-engineering-light , 
org_env $uw-environment $uw-environment-light darken($uw-environment, 5%) url("../images/rwd-home/chevrons-green.png") $uw-environment org_env_bg $uw-environment-light, 
org_mat $uw-math $uw-math-light darken($uw-math, 5%) url("../images/rwd-home/chevrons-pink.png") $uw-math org_mat_bg $uw-math-light, 
org_sci $uw-science $uw-science-light darken($uw-science, 5%) url("../images/rwd-home/chevrons-blue.png") $uw-science org_sci_bg $uw-science-light,
org_school $uw-school $uw-schools-light darken($uw-school, 5%) url("../images/rwd-home/chevrons-red.png") $uw-school org_school_bg $uw-schools-light, 
org_cgc $uw-cgc 0 darken($uw-cgc, 5%) url("../images/rwd-home/chevrons-cgc.png") $uw-cgc org_cgc_bg $uw-schools-light, 
org_ren $uw-ren $uw-renison-light darken($uw-ren, 5%) url("../images/rwd-home/chevrons-ren.png") $uw-ren org_ren_bg $uw-schools-light, 
org_stj $uw-stj #01573E darken($uw-stj, 5%) url("../images/rwd-home/chevrons-stj.png") $uw-stj org_stj_bg $uw-schools-light, 
org_stp $uw-stp #584528 darken($uw-stp, 5%) url("../images/rwd-home/chevrons-stp.png") $uw-stp org_stp_bg $uw-schools-light;

body,
div {
  @each $faculty in $faculties {
    &.#{nth($faculty, 1)} {
      h1, h2, h3, h4, h5, h6 {
        color: $black;
      }
      .alert h2,
      .alert h3 {
        color:$white;
        border-bottom:none;
      }
      .alert .secondary a,
      .alert .regular-homepage a  {
        color:#fafafa;
      }
      hr, h2 {
        border-color: nth($faculty, 6);
      }

      .uw-site--modal-wrap h2 {
        color: $white;
      }
      
      a {
        color: nth($faculty, 2);

        &:visited {
           color: nth($faculty, 4);
          
        }

        &:link {
          color: nth($faculty, 2);
        }

        &:hover {
          color: nth($faculty, 4);
        }

        &:focus {}

        &.search-button {
          color: $white;
        }
      }
      .marketing-item {
        a{
           color: $black;
           background-color:$neutral;
           text-decoration:none;
           &.button{
            background-color:$uw-gold;
           }
           &:hover{
            background-color:$dark-gray;
            color:$white;
           }
        }
      }
      .skip a{
        color:$black;
      }
      .directory-filter ul li a{
        color:$uw-black;
      }
      .view-homepage-news a {
          color:$black;
        }
      .uw-site--modal-wrap a {
        color: $white;
      }
      .uw-site-footer {
        a {
          color: $white;
        }
      }

      .uw-footer-phone {
        a {
          color: $yellow-dark;
        }
      }

      .uw-territorial{
        a{
          color: $yellow-dark;
        }
      }

      .responsive-nav-menu {
        a {
          color: $white;
        }
      }

      .ui-menu {
        .ui-menu-item {
          a {
            color: $gray;
          }
        }
      }
      ul.share-buttons {
        li {
          a {
            &:before {
              background-color: nth($faculty, 2);
            }

            &:hover {
              &:before {
                background-color: nth($faculty, 4);
                color: $white;
              }
            }
          }
        }
      }
      .global-menu {
        li {
          a {
            color: $white;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
     .uw-site--header {
        color: nth($faculty, 2);
      }
    }
  }
}
/* Any duv element classed with the school/dept prefix */
  div {
  @each $faculty in $faculties {
    &.#{nth($faculty, 1)} {
        color:nth($faculty, 2);
      }
    &.#{nth($faculty, 7)} {
        // background-color:nth($faculty, 2);
        // picture{
        //   background-color:nth($faculty, 2);
        // }
        a:focus,
        a:hover{
          .banner-text{
            background-color:transparentize(nth($faculty, 8), 0.1);
          p{color:nth($faculty, 2);}

          span{color:nth($faculty, 2);}
          h2{color:nth($faculty, 2);}
          }
          @include uw-transition($delay: 0s, $duration: 300ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

        }
        .banner-text{
          background-color:nth($faculty, 2);
           @include media($large-screen) {
            background-color:transparentize(nth($faculty, 2), 0.2);
          }
          
          p{color:nth($faculty, 8);}

          span{color:nth($faculty, 8);}
          h2{color:nth($faculty, 8);}
          @include uw-transition($delay: 0s, $duration: 300ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

        }
        ul.quicktabs-tabs li {
            &.active{
                // background-color:nth($faculty, 2);
                background-color:$white;
              }
            a{
              &:focus{
                background-color:$white;
              }
          }
        }
        button{
          &.slideshow-control
         {
            color:nth($faculty, 8);
            background-color:nth($faculty, 2);
            &:hover,
            &:focus{
              color:nth($faculty, 2);
              background-color:nth($faculty, 8);
            }
           }
           &.tabs-previous,
           &.tabs-next{
            color:nth($faculty, 8);
            background-color:transparent;
            &:hover,
            &:focus{
              color:nth($faculty, 2);
              background-color:transparentize(nth($faculty, 8), 0.1);
            }
           }
        }
      }
    
    }
}
