// layout of global elements
.uw-section {
  &--inner {
    padding: 0rem 0.8rem 0rem 0.8rem;
    clear: both;
    @include outer-container;
    @include media($xsmall-screen) {}
    @include media($medium-screen) {
    }
    @include media($large-screen) {
      padding: 0;
    }
    .uw-site-homepage--content &{
      @include outer-container(100%);
      padding: 0;
    }
    .uw-site-main--content &{
      padding:$site-inner-padding;
    }
    .uw-site--header & {
      position:relative;
    }
    .uw-header--global & {
      padding: 0rem 0rem 0rem 0.8rem;
    }
    .uw-site--alert &{
      padding:0;
      background-color: $uw-black;
      @include outer-container(100%);
    }
    .uw-site--banner & {
      @include outer-container(100%);
      position: relative;
      padding: 0;
      @include media($medium-screen) {
      }
    }
    .uw-site--toplinks & {
      padding: 2rem 0.8rem 0rem 0.8rem;
    }
    .uw-site--audience &{
      padding:$site-inner-padding;
    }
    .uw-site--positioning &{padding:$site-inner-padding;}
    .uw-site--fullquote &{
      @include outer-container(100%);
      padding: 0;
    }
    .uw-site--news &{
      padding:$site-inner-padding;
    }
    .uw-site--events &{
      padding:$site-inner-padding;
    }
    .uw-site--notifications &{}
    .uw-site--offcanvas & {
      @include outer-container(100%);
      .menu-open & {
        overflow-x: hidden;
      }
    }
    .uw-site--colors &{
      @include outer-container(100%);
      padding: 0;
    }
    .uw-site--watermark & {
      @include outer-container;
      background: url(../images/rwd-home/ghost-waterloo-grey.png) no-repeat 0 102%;
      background: url(../images/rwd-home/ghost-waterloo-grey.svg) no-repeat 0 102%;
      @include media($large-screen) {
        background-position: 0 2px;
        background-position: 0 2px;
        padding: 0;
      }
      background-size: contain;
      height: 7.3rem;
      display: block;
      opacity: 0.65;
    }
    .uw-site-share & {
      @include outer-container(100%);
      min-height: 3rem;
      background: $lighter-gray;
      padding: 0;
      @include media($medium-screen) {
        padding: 0rem 0.8rem 0rem 0.8rem;
      }
      @include media($large-screen) {
        padding: 0rem;
      }
    }
    .uw-site-footer--global & {
      @include outer-container;
    }
  }
}
.uw-site {
  @include outer-container(100%);
  //make 100% for full width
  &--inner {
    @include outer-container(100%);
    // make 100% for full width
   }
  &--header {

    // inside the global header
    @include outer-container(100%);
    padding: 0.8rem 0 0.5rem 0;
    @include media($medium-screen) {
      padding: 0.6rem 0 0.5rem 0;
    }
    text-align: center;
    min-height: $site-header-height;
    line-height: $base-line-height;
    height: auto;
    background-color: $site-header-bg;
    text-transform: uppercase;
    img {
      vertical-align: bottom;
    }
    /* Hide the div when on front for homepage */
    .front & {
      min-height: 0px;
      line-height:inherit;
      height: 0;
      padding:0;
      overflow:hidden;
      width:0;
    }
    .not-front &{
      position:relative;
      z-index: map-get($zindex, content);
    }
  }
  &--off-canvas {
    @include outer-container(100%);
    overflow: hidden;
  }
  &--main-top {
    // @include span-columns(12);
    @include media($medium-screen) {
      // @include span-columns(8);
      // @include omega;
    }
    @include media($large-screen) {
      // @include span-columns(9);
      // @include omega;
    }
  }
  &--colors{
    @include outer-container(100%);
  }
  &--alert{
    @include outer-container(100%);
    background:#cd1443;
    .emergency &{
      // padding: 2rem 0rem 2.5rem 0rem ;
      background:$uw-black;
    }
    
    .primary{
       @include span-columns(12);
    }
    .secondary{
      @include span-columns(12);
      padding:1rem;
    }
    @include media($medium-screen) {
      .primary{
         @include span-columns(8);
      }
      .secondary{
        @include span-columns(4);
        @include omega;
        padding:1rem 0.5rem;

      }
    }
    
  }
  &--audience{
    background:$lighter-gray;
  }
  &--fullquote{
    @include outer-container(100%);
    background:$lighter-gray;
  }
  &--news{}
  &--events{
    background:$lighter-gray;
  }
  &--banner {}
  &--notifications{}
  &--messages {}
  &--help {}
  &--title {}
  //  />top bar above site content
  &-admin {
    &--tabs {
      @include span-columns(12);
      @include media($medium-screen) {
        // @include span-columns(8);
        // @include omega;
      }
      @include media($large-screen) {
        // @include span-columns(9);
        // @include omega;
      }
    }
  }
  &--main {
    @include outer-container(100%);
    margin-bottom: 2rem;

  }
  &-main {
    &--content {
      // this wraps the right column of the site
      @include span-columns(12);
      @include media($medium-screen) {
        // @include span-columns(9);
      }
      @include media($large-screen) {
        // @include span-columns(9);
      }
    }
  }
  &--cbar {
    @include align-items(start);
    // start|end|center|baseline|stretch
    @include display(flex);
    @include flex-direction(row);
    // row | row-reverse | column | column-reverse
    @include justify-content(flex-start);
    @include flex-wrap(wrap);
    //  nowrap | wrap | wrap-reverse
    @include box-orient(horizontal);
    // horizontal|vertical|inline-axis|block-axis|inherit
    @include box-pack(start);
    // start|end|center|justify
    @include box-lines(multiple);
    // single|multiple
    width: 100%;
    .uw-cbar {
      padding: 0;
      margin: 0;
      height:0.625rem;
      
      @include flex(1);
       @include media($small-screen) {
          height:0.875rem;
      }
       @include media($medium-screen) {
        height:1rem;
      }
       @include media($large-screen) {
        height:1.125rem;
      }
    }
  }
  &-content {
    min-height: 1px;
    display: block;
    padding: 0.9rem 0 0 0;
    @include span-columns(12 of 12);
    @include media($xsmall-screen) {}
    @include media($medium-screen) {
      @include span-columns(9 of 9);
    }
    @include media($large-screen) {
    // @include span-columns(6 of 9);
    }
  }

  &-sidebar {
    float:left;
    height:auto;
    .page-node-35 &,
    .page-node-2 &,
    .page-node-36 &,
    .page-node-37 &,
    .node-type-directory-page &,
    .page-node-365 &,
    .page-node-366 &,
    .front &{
      width:100%;
      padding:$site-inner-padding-nolr;
      
    }
  }

  &--watermark {
    @include outer-container(100%);
    display:none;
    height: 7.3rem;
    .emergency &{
      // background:$uw-black;
    }
  }

  &--global {
    background-color: $site-global-footer-bg;
    position: relative;
    }
  &-share {
    @include outer-container(100%);

    background-color: $lighter-gray;
  }
}

// region header
.uw-header {
  background-color: $site-global-header-bg;
  min-height: $site-global-header-height;
  position: relative;
  @include outer-container();
  &--content {
    ul {
      margin-left:0;
      padding-left:0;
    }
  }

  &--logo {
    height: $site-global-header-height;
    @include span-columns(6 of 12);
    .uw-logo {
      margin: 1.3rem 0 0 0;
      display: block;
      width: 100%;
      height:1.875rem;
      @include media($small-screen) {
        margin: 1.15rem 0 0 0 ;
        height:2.188rem;
      }
      @include media($medium-screen) {
        height:2.5rem;
      }
      @include media($large-screen) {
        height:2.688rem
      }
      text-indent: -999rem;
      background: url("../images/rwd-home/uwaterloo-logo.svg") no-repeat 0 50%;
      background-size: contain;
      max-width: 10.563rem;
    }
    @include media($medium-screen) {
      @include span-columns(12 of 12);
      .uw-logo {
        @include span-columns(4 of 12);
        @include shift(4.5);
        margin-top:  1.5rem;
        max-width: 12.5rem;
        text-align: center;
      }
    }
    @include media($large-screen) {
       @include span-columns(2.5 of 12);
      .uw-logo {
        width: 100%;
        max-width: 10.750rem;
        margin:1rem 0 0 0 ;
        @include shift(0);
      }
    }
  }

  &--buttons {
    @include span-columns(5 of 12);
    @include shift(1);
    @include omega;
    height:$site-global-header-height;
    @include media($small-screen) {
      @include span-columns(4 of 12);
      @include shift(2);
    }
    @include media($medium-screen) {
      border: none;
      @include span-columns(1 of 12);
      @include shift(0);
        @include omega;
        top: 3.2rem;
    }
    @include media($large-screen) {
      right: 0;
      top: 0;
    }
    &__search {
      @include span-columns(2 of 4);
      height: 100%;
      text-align: center;
      margin-left: 5.61798%;
      border-left: 1px solid transparentize($white, 0.8);
      @include omega;
      @include media($medium-screen) {
        @include span-columns(1 of 1);

        border: none;
      }
      a {
        height: 100%;
        font-family: $condensed-Book-font-family;
        letter-spacing:0.045rem;
        text-transform: uppercase;
        font-size: modular-scale(-1);
        text-decoration: none;
        display: block;
          padding-top: 0.9rem;
          @include media($medium-screen) {
            padding-top: 0;
           
           }
           @include media($large-screen) {
        
            padding-top: 0.9rem;
           }
        &.search-button {
          text-decoration: none;
          @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: color);
         &:hover{
              color:$uw-gold; 
              .ifdsu{color:$uw-gold; @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color));}
            }

          .ifdsu {
            display: block;
            font-size: modular-scale(2);
            padding-bottom: 0.1rem;

            &:hover {}
          }
        }
      }
    }

    &__nav {
      height: 100%;
      @include span-columns(2 of 4);
      border-left: 1px solid transparentize($white, 0.80);
      label {
        height: 100%;
        text-align: center;
        font-family: $condensed-font-family;
        font-size: modular-scale(-1);
        text-transform: uppercase;
        font-weight:400;
      }
      @include omega;
      @include media($medium-screen) {
        display: none;
      }
    }
  }

  // global header
  &--global {
    @include outer-container(100%);
    background-color: $site-global-header-bg;
     nav{
          display:block;
          width:100%;
          @include media($medium-screen) {
          @include span-columns(10 of 12);
           min-height: 4.375rem;

        }
          @include media($large-screen) {
            @include span-columns(8.5 of 12);
          
          }
        }
 .global-menu{
        display: none;
        padding-left: 0;
        @include media($medium-screen) {
          display:block;
          text-align:center;
          padding-top: 0.3rem;
        }
        @include media($large-screen) {
          padding-top: 1.2rem;
        }
        li{
          display: inline-block;
          padding: 0 0.5rem;
        }
      }
  }

  &--search {
    &__university {}
  }

  &--nav {
    &__university {}
  }

  &--banner {
    &__alt {}
  }
}

// region footer
.uw-footer,
#uw-footer {
  background-color: $site-global-footer-bg;
  border: none;
  padding: 0;
  margin-top: 0;
  clear: both;
  position: relative;
}




html{
  background:$black;
}
.off-screen {
  display: block;
  text-indent: -9999px;
  height: 0px;
  overflow: hidden;
}
.element-invisible{
    position:absolute !important;
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    overflow: hidden;
}
    
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

#navbar-administration {
  z-index: map-get($zindex, overlay);
}
@media screen and (max-width: 767px) {
  #navbar-administration.navbar-oriented .navbar-tray-vertical > .navbar-lining::before {
    height: 0px;
  }
}

.img-test {
  background: url("../images/cta2.jpg") no-repeat;
  width: 220px;
  height: 87px;
  display: none;
}

#main-menu > ul > li.last.expanded.active-trail > a {
  padding-left: 0.4rem;
}

.contextual-links-region {
  @include clearfix;
}
.skip{
  position: absolute;
    z-index: 1000;
    left: 50%;
    width: 8.5em;
    text-align: center;
    background: #fff;
    a{
      &:focus{
        color:red;
      }
    }
}
.daily-bulletin-block,
.weather-block{
   @include span-columns(12 of 12);
   @include media($small-screen) {
         @include span-columns(6 of 12);
      }
}
.weather-block{
     @include media($small-screen) {
         @include omega();
      }
      .weather-box{
        margin-top:0px
        }    

}

// Paragraphs Homepage 

.paragraphs-item-home-page-copy-block{
  @include outer-container();
  padding:$site-inner-padding;

}
.paragraphs-item-home-page-marketing-block{
  
}
.workbench-info-block{
  @include outer-container();
  margin:0 auto !important;
}
.uw_video-embed {
  max-width:100% !important;
}

nav.responsive-menu-combined{
  height: 100%;
  @include span-columns(2 of 4);
  border-left: 1px solid transparentize($white, 0.80);
  label {
    position:relative;
    min-height: 4.375rem;
    text-align: center;
    margin-bottom:0;
    font-weight:400;
    span.navigation_toggle__text{
      height: 100%;
      font-family: $condensed-Book-font-family;
      letter-spacing:0.045rem;
      text-transform: uppercase;
      font-size: modular-scale(-1);
      text-decoration: none;
      display: block;
      // position:absolute;
      // top:2.25rem;
      // left: 0.8rem;
      padding:2.25rem 0 0 0 ;
      height:auto;
      width:auto;
    }
    button{
      font-family: $condensed-Book-font-family;
      letter-spacing:0.045rem;
      text-transform: uppercase;
      font-size: modular-scale(-1);
      font-weight:400;
    }
  }

  @include omega;

  @include media($medium-screen) {
    display: none;
  }
}
nav.responsive-menu-combined,
nav.rmc-nav {
  height: 100%;

  @include span-columns(2 of 4);

  border-left: 1px solid transparentize($white, 0.8);

  label {
    position: relative;
    min-height: 4.375rem;
    text-align: center;
    margin-bottom: 0;
    font-weight: 400;

    span.navigation_toggle__text {
      height: 100%;
      font-family: $condensed-Book-font-family;
      letter-spacing: 0.045rem;
      text-transform: uppercase;
      font-size: modular-scale(-1);
      text-decoration: none;
      display: block;
            // position:absolute;
      // top:2.25rem;
      // left: 0.8rem;
      padding: 2.25rem 0 0 0;
      height: auto;
      width: auto;
    }

    button {
      font-family: $condensed-Book-font-family;
      letter-spacing: 0.045rem;
      text-transform: uppercase;
      font-size: modular-scale(-1);
      font-weight: 400;
    }
  }

  @include omega;

  @include media($medium-screen) {
    display: none;
  }
}

