fieldset {
  background-color: lighten($base-border-color, 10%);
  border: $base-border;
  margin: 0 0 $small-spacing;
  padding: $base-spacing;
}

legend {
  margin: 1rem 0;
}

input,
label,
select {
  font-family: $font-bg-book;
  max-width: 100%;
}

select {
  font-size: modular-scale(-1);
}

label {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;

  &.required::after {
    content: "*";
  }

  &.options {
    margin-left: 0.2rem;
  }

  abbr {
    display: inline;
    font-size: modular-scale(-1);
  }
}

.form-actions {
  margin: 1rem 0;
  text-align: center;
}

.form-item {
  margin-bottom: 0.35rem;
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {
  background-color: $base-background-color;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  font-family: $font-bg-book;
  font-size: $base-font-size;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 3;
  transition: border-color;
  width: 100%;
  max-width: 100%;
  border-color: darken($base-border-color, 10%);

  &:hover {
    border-color: darken($base-border-color, 10%);
  }

  &:focus {
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  float: left;
  margin-right: $small-spacing;
  margin-top: 0.2rem;
}

input[type="file"] {
  padding-bottom: $small-spacing;
  width: 100%;
}

input[type="text"] {
  .modal-default & {
    padding: 1.05rem 0;
  }
}

//FDSU
select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}

fieldset {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid;

  &:hover {
    > legend {
      background-color: #FFFBD9;
    }
  }
}

input[type=text][disabled],
input[type=text][disabled]:focus,
select[disabled],
textarea[disabled],
button[disabled],
input[type=text][readonly],
input[type=text][readonly]:focus,
select[readonly],
textarea[type=text][readonly]
textarea[readonly]:focus,
button[readonly] {
  outline:#f5f5f5;
  border: 1px solid #f5f5f5;
  }
input[type=text][disabled],
input[type=checkbox][disabled],
input[type=radio][disabled],
input[type=text][disabled]:focus,
select[disabled],
textarea[disabled],
button[disabled],
{
  cursor: not-allowed;
  }

/*hide "upload" button on web forms until bug around conditional pages with upload fields is fixed*/
.webform-client-form .form-managed-file .form-submit {
  display: none;
}
