// // @import "../vendor/neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
$column: 92.5px;
$gutter: 25px;
$grid-columns: 12;
$max-width: rem(1010);

// Neat Breakpoints
$xsmall-screen: min-width rem(480);
$small-screen: min-width rem(641);
$medium-screen: min-width rem(769);
$large-screen: min-width rem(1011);
$ipadP: min-width (em(768) and max-height) em(1024);
$ipadL: min-width (em(1024) and max-height) em(768);

$xsmall-screen-up: new-breakpoint($xsmall-screen 4);
$small-screen-up: new-breakpoint($small-screen 4);
$medium-screen-up: new-breakpoint($medium-screen 8);
$large-screen-up: new-breakpoint($large-screen 12);
