.alert-inner{
  @include outer-container();
}
.alert {
  border: solid 20px #cd1443; 
  border-top: none; 
  background: #cd1443;
  color:$black;
  .alert-date,
  h2 {
    background: #cd1443;
    margin: 0; 
    color: #fff;

  }
  .alert-date{
    font-size: 1.4em; 
    font-weight: normal; 
    display: block; 
    padding: 10px 0;
  }
  h2{
    font-size: 2em; 
    font-weight: bold; 
    padding: 20px 0 0;
  }
  .alert-message{
    padding: 10px 20px 20px; 
    background-color: #eee;
  }
  p {
    margin: 10px 0 0; 
  }
  &.emergency  {
    color:#fff;
    border: none; 
    background: $uw-black;
    .alert-message{
      background: $uw-black;
      color:#fff;
    }
   .alert-date{
      padding: 10px 20px;
      text-align:center;
    }
    h1 {
      background: #cd1443; 
      color: #fff;
      padding:1rem;
      margin:0;
      text-align:center;
    }
    h2 {
      font-size: 1.8em; 
      padding: 0; 
      background-color: $uw-black; 
      color: #000;
    }
  }
  .regular-homepage {
    float: left; 
    margin: 0 0 1rem 1rem;
  }
}
