
.quicktabs-tabpage{
  opacity:1;
  @include uw-transition($delay: 0.075s, $duration: 125ms, $timing: "linear", $property: (color, background-color, border-color, opacity));
  &.quicktabs-hide{
    opacity:0;
    height:0px;
    overflow:hidden;
    visibility:hidden;
    @include uw-transition($delay: 0.075s, $duration: 125ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

  }
}
#audience{
  ul li{
    margin:0;
  }
  .keyboard-help{
    position:relative !important;
    // top:-1.5rem;
    height:2rem;
    text-align:center;
    width:100%;
    visibility:hidden;
    @include media($medium-screen) {
      visibility:visible;
    }
  }
  .quicktabs-wrapper{
    position:relative;
    overflow:hidden;
    @include media($xsmall-screen) {
    }
    @include media($small-screen) { 
    }
    @include media($medium-screen) {
    // height:28.125rem;
    }
    @include media($large-screen) {
    // height:37.500rem;
    }
    @include media(rem(1680)){
    // height:40rem;
    }
  }
//   .audience-left{
//     position:absolute;
//     background: -moz-linear-gradient(left,  rgba(219,219,219,1) 0%, rgba(241,241,241,0.2) 62%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
//     background: -webkit-linear-gradient(left,  rgba(219,219,219,1) 0%,rgba(241,241,241,0.2) 62%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
//     background: linear-gradient(to right,  rgba(219,219,219,1) 0%,rgba(241,241,241,0.2) 62%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
//     height:3.45rem;width:1.5rem;top:2rem;left:0;
// }
  .audience-right{
    position:absolute;
    background:blue;
    height:3.45rem;
    width:1.5rem;
    top:2rem;
    right:0;
      background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(241,241,241,0.2) 38%, rgba(219,219,219,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(241,241,241,0.2) 38%,rgba(219,219,219,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(241,241,241,0.2) 38%,rgba(219,219,219,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#dbdbdb',GradientType=1 ); /* IE6-9 */
  }
.hide-edge .audience-right{display:none;}
.hide-edge .audience-left{display:none;}   
  .item-list{
    overflow-x: scroll;

    @include media($large-screen) {
      overflow: hidden;
    }

    -webkit-overflow-scrolling: touch;
    -ms-touch-action: pan-y;
    // box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.08);
    position:relative;
    margin-bottom:0;
    @include clearfix();
    width:auto;
    ul.quicktabs-tabs{
      height: 3.375rem;
      width:61.5rem;
      @include align-items(center); // start|end|center|baseline|stretch
      @include display(flex);
      @include flex-direction(row); // row | row-reverse | column | column-reverse
      @include justify-content(center);
      @include flex-wrap(wrap);//  nowrap | wrap | wrap-reverse
      @include box-orient(horizontal);// horizontal|vertical|inline-axis|block-axis|inherit
      @include box-pack(center);// start|end|center|justify
      @include box-lines(multiple);// single|multiple       
      margin:0;
      padding:0;


      li{
        @include flex(1);
         background-color:$gray;
         padding:0;
         margin-bottom:0;
         list-style-type:none;
         text-align:center;
          border-right:rgba(255,255,255,0.3) solid 1px;
          border-bottom:rgba(255,255,255,0.3) solid 1px;
         a{
          display:block;
          padding:1rem 1rem;
          &:hover,
          &:focus{
              background:white;
              color:$black;
          
          }

          }
        &.first{}
        &.active{
          // background-color:$white;
          a{
            color:$black;
            &:focus{
              text-decoration:underline;
            }
            }
        }
        &.last{
          border-right:none;
          a{ 
          }
        }
      }
    }
  }
  ul.columns-wrapper{
    margin:0;
    padding:0;
    background:$white;
    @include align-items(stretch); // start|end|center|baseline|stretch
    @include display(flex);
    @include flex-direction(row); // row | row-reverse | column | column-reverse
    @include justify-content(center);
    @include flex-wrap(wrap);//  nowrap | wrap | wrap-reverse
    @include box-orient(horizontal);// horizontal|vertical|inline-axis|block-axis|inherit
    @include box-pack(start);// start|end|center|justify
    @include box-lines(multiple);// single|multiple 
    li.column{ 
      // visibility:hidden;     
      list-style-type:none;
      margin:0.4rem 0;
      display:block;
      width:100%;
      @include media($medium-screen) {
         @include flex(1 0 30%);
         margin:0.4rem 0rem;
        &:first-child{
         margin-right:0.4rem;
        }
        &:last-child{
         margin-left:0.4rem;
        }
      }
      a.audience-item{
        background:$uw-black;
        display:block;
        text-decoration:none;
        position:relative;
        z-index: map-get($zindex, slides);
        @include uw-transition($delay: 0s, $duration: 300ms, $timing: "linear", $property: (color, background-color, border-color, opacity));
        .image{
          display:block;
          position:relative;
          min-height:20rem;
          background-size:cover;
          text-align:center;
          background-position: center;
          background-repeat:no-repeat;
          background-color:$uw-black;
          z-index: map-get($zindex, content); 
        }
        .audience-type{
          position:absolute;
          background:$uw-black;
          color:$uw-gold;
          padding:0.5rem 1rem;
          z-index: map-get($zindex, header);
          bottom:8rem;
          right:0rem;
          &:empty {
            padding:0;
          }
        }
        .text{
          height:8rem;
          display:block;
          padding:1rem;
          .heading{
            display:block;
            margin-bottom:0.25rem;
          }
          .subhead{
            display:block;
            line-height:1.25;
          }
        }
        &:hover,
        &:focus{
          .image{
           opacity:0.85;
           display:block;
           background-color:$uw-black;
           @include uw-transition($delay: 0s, $duration: 300ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

         }
         .audience-type{
          background:$uw-gold;
          color:$uw-black;
         }
          background:$uw-gold;
          @include uw-transition($delay: 0s, $duration: 300ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

        }
        @include media($medium-screen) {
          .image{min-height:16.25rem;}
       }
      }
    }
  }
  .view-footer{
   display:block;
   padding:1rem 0 0 0 ;
    .morelink{
      text-align:center;
      a{
        @extend %button;
        max-width:20rem;
        background-color:$gray;
        color:$white;
        &:hover,
        &:focus{
          background:$uw-gold;
          color:$uw-black;
        }
      }
    }
  }
}



