/*
 * SEARCH AUTOCOMPLETE
 *
 * Sponsored by:
 * www.axiomcafe.fr
 */

/**
 * THEME BASIC GREEN
 */

/* AUTOCOMPLETE */
.ui-theme-ba.ui-autocomplete {
  position: absolute;
  cursor: default;
}

* html .ui-theme-basic-green.ui-autocomplete {
  width: 1px;

  /* without this, the menu expands to 100% in IE6 */
}

.ui-theme-basic-green.ui-autocomplete-input {
  background-image: url("../images/rwd-home/ring-alt.gif");
  background-image: url("../images/rwd-home/ring-alt.svg");
  background-position: -1000px 0;
  background-size: 15px;
  background-repeat: no-repeat;
  padding-left: 1.5rem;
}

.ui-theme-basic-green.ui-autocomplete-loading {
  background-image: url("../images/rwd-home/ring-alt.gif");
  background-image: url("../images/rwd-home/ring-alt.svg");
  background-size: 15px;
  background-position: 3px 12px;
  background-repeat: no-repeat;
}

.ui-theme-basic-green.ui-widget-content {
  background: none;
  border-radius: 0px;
  color: #2c2c2c;
  border: 1px solid #c8c8c8;
  box-shadow: 2px 2px 2px -1px rgba(128, 128, 128, 0.6);
  position: absolute;
  background-color: #ffffff;

  // font-family: Arial,Tahoma,"Bitstream Vera Sans",sans-serif;
  font-size: 1em;
}

/* AUTOCOMPLETE MENU */
#ui-theme-basic-green div {
  display: block;
}

#ui-theme-basic-green.ui-menu {
  list-style: none;
  padding: 0px;
  margin: 0;
  display: block;
  float: left;
  min-width: 350px;
}

#ui-theme-basic-green.ui-menu .ui-menu {
  margin-top: -3px;
}

#ui-theme-basic-green.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  float: left;
  clear: left;
  width: 100%;
  line-height: 14px;
  font-size: 12px;
}

#ui-theme-basic-green.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 0;
}

#ui-theme-basic-green.ui-menu .ui-menu-item a {
  font-weight: normal;
  margin: -1px;
}

/* Interaction States */
#ui-theme-basic-green .ui-state-hover {
  background: none;
  border: none;
  border-radius: 0px;
  background-color: #99cc66;
  color: #ffffff;
}

#ui-theme-basic-green .ui-autocomplete-fields {
  padding: 5px 6px;
  overflow: hidden;
}

#ui-theme-basic-green .ui-menu-item-first {
  border-top: 1px solid #d3e0bb;
}

#ui-theme-basic-green .ui-autocomplete-field-title {
  text-align: left;
  font-size: 1.3em;
}

#ui-theme-basic-green .ui-autocomplete-field-term {
  font-weight: bold;
}

#ui-theme-basic-green .ui-autocomplete-field-group {
  background-position: right top;
  background-repeat: no-repeat;
  color: #589442;
  float: right;
  position: relative;
  right: 5px;
}
