div.ctools-modal-content {
  background: transparent;
  color: $white;
  padding: 1rem;

  .modal-title {
    display: none;
  }

  .modal-header {
    padding: 0 0.25rem 0 1rem;

    a {
      color: $white;
      text-decoration: none;

      &.close {
        text-decoration: none;
        float: right;

        @include media($small-screen) {
          margin-right: 5rem;
        }


        @include media($large-screen) {
          margin-right: 10rem;
        }


        &:before {
          font-family: $fdsu-icon-font;
          content: $fdsu-close;
          font-size: modular-scale(4);
          padding: 0.5rem;
        }

        &:hover {
          &:before {
            text-decoration: none;
            color: $black;
            background-color: $yellow-dark;
          }
        }
      }
    }
  }

  .modal-content {
    @include outer-container(100%);

    overflow: auto;
    position: relative;

    /* Keeps IE7 from flowing outside the modal. */
    .modal-throbber-wrapper {
      z-index: map-get($zindex, modal);
      text-align: center;
      top: 50%;
      left: 50%;
      position: absolute;

      img {}
    }
  }

  .dependent-options {
    padding-left: 1.8rem;
  }

  form.ctools-use-modal-processed {
    .ajax-progress {
      position: absolute;
      background-image: none;
      top: 20%;
      left: 45%;

      @include media($small-screen) {}


      @include media($large-screen) {
        top: 50%;
      }


      z-index: map-get($zindex, modal);

      .throbber {
        background-image: url("../images/rwd-home/throbber-ring.gif");
        height: 2rem;
        width: 2rem;
        background-size: contain;
      }

      &.ajax-progress-throbber {}
    }

    @include outer-container;

    position: relative;
    padding-left: 1rem;

    @include media($small-screen) {}


    @include media($medium-screen) {
      @include outer-container(80%);
    }


    @include media($large-screen) {
      @include outer-container(60%);
    }


    .form-item-search-area {
      width: 100%;
    }

    .form-item {
      @include span-columns(12);

      width: 100%;

      &.form-type-radios {
        position: relative;

        // Note for absolute items you can't use max-width. Constrain width with px based width value
        @include span-columns(12 of 12);

        position: relative;

        @include media($small-screen) {}


        @include media($medium-screen) {
          @include span-columns(11 of 12);

          height: 8rem;
        }


        @include media($large-screen) {
          height: 8rem;
        }


        [name="search_site"] {
          opacity: 0;
          position: absolute;
          top: 0;
          width: 100%;
          height: 4rem;
          font-weight: $weight-bold;
          font-family: $condensed-font-family;
          font-size: modular-scale(1);

          @include media($medium-screen) {
            font-size: modular-scale(2);
          }


          line-height: 1.25;
          padding: 1rem 0 0 0;
          z-index: 2;

          // Position the first input button
          &:first-of-type {
            left: 0%;
          }

          // Position the second input button
          &:last-of-type {
            right: 0%;
          }
        }

        // Now style the default label
        [name="search_site"] + label {
          margin: 0;
          height: 3.5rem;
          font-weight: $weight-bold;
          font-family: $condensed-font-family;
          text-transform: uppercase;
          font-size: modular-scale(1);

          @include media($medium-screen) {
            font-size: modular-scale(2);
          }


          line-height: 1.25;
          padding: 1rem 0 0 0;
          position: absolute;
          z-index: 0;
          text-align: center;

          // Position + style the first label
          &:first-of-type {
            left: 0%;
          }

          // Position the second input label
          &:last-of-type {
            right: 0%;
            border-right: 0;
            border-left: 0;
          }
        }

        // The checked state
        [name="search_site"]:checked + label {
          color: $base-button-color;
          background-color: $base-button-bg-color;
        }

        // The unchecked state
        [name="search_site"]:not(:checked) + label {

          color:$base-button-color;
          background-color: none;
          border:1px solid $gray;
        }

        label {}

        #edit-search-site {
          margin-top: 2rem;

          &.form-radios {
            position: relative;

            .form-type-radio {
              height: 4rem;
              width: 50%;
              margin: 0;
              padding: 0;
              position: relative;

              input {
                &.form-radio {}
              }

              label {
                &.option {}
              }
            }
          }
        }

        fieldset {
          legend {
            font-size: modular-scale(2);
            font-weight: $weight-bold;
            font-family: $condensed-font-family;
            text-transform: uppercase;

            @include media($small-screen) {
              font-size: modular-scale(4);
            }
          }
        }
      }

      &.form-type-textfield {
        @include span-columns(12 of 12);

        @include media($small-screen) {
          @include span-columns(7 of 12);
        }


        label {}

        input {
          &.form-text {}
        }
      }
    }

    .form-submit {
      &.progress-disabled {
        position: relative;
        height: 100%;
      }

      @include span-columns(12 of 12);

      max-width: 100%;

      @include media($small-screen) {
        @include span-columns(4 of 12);

        margin-top: 1.75rem;
      }


      @include omega;

      @include media($medium-screen) {}


      @include media($large-screen) {}
    }

    label {
      width: auto;
      float: left;

      &.option {
        width: auto;
        float: none;
      }

      &.hidden-options {
        background: transparent url(../images/arrow-active.png) no-repeat right;
        height: 0.85rem;
        padding-right: 0.85rem;

        .option-text-aligner & {
          background: none;
        }
      }

      &.expanded-options {
        background: transparent url(../images/expanded-options.png) no-repeat right;
        height: 0.85rem;
        padding-right: 1rem;

        .option-text-aligner & {
          background: none;
        }
      }
    }

    .description {
      clear: left;
      display: none;

      .tips {
        margin-left: 2rem;
      }
    }

    .no-float & {
      * {
        float: none;
      }

      label {
        width: auto;
      }
    }

    .container-inline & {
      margin-right: 2rem;
    }

    #views-exposed-pane-wrapper & {
      margin-top: 0;
      margin-bottom: 0;
    }

    fieldset,
    .form-radios,
    .form-checkboxes {
      clear: left;
    }

    .vertical-tabs-panes {
      > fieldset {
        clear: none;
      }
    }

    .resizable-textarea {
      width: auto;
      margin-left: 15rem;
      margin-right: 5rem;
    }
  }
}

.cssload-loader {
  width: 1.563rem;
  height: 1.563rem;
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  perspective: 1200;
  -o-perspective: 1200;
  -ms-perspective: 1200;
  -webkit-perspective: 1200;
  -moz-perspective: 1200;
}

.cssload-flipper {
  position: relative;
  display: block;
  height: inherit;
  width: inherit;
  animation: cssload-flip 1.56s infinite ease-in-out;
  -o-animation: cssload-flip 1.56s infinite ease-in-out;
  -ms-animation: cssload-flip 1.56s infinite ease-in-out;
  -webkit-animation: cssload-flip 1.56s infinite ease-in-out;
  -moz-animation: cssload-flip 1.56s infinite ease-in-out;
  transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}

.cssload-front,
.cssload-back {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: rgb(252, 212, 80);
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.cssload-back {
  background-color: rgb(0, 0, 0);
  z-index: 800;
  transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
}

@keyframes cssload-flip {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@-o-keyframes cssload-flip {
  0% {
    -o-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    -o-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    -o-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@-ms-keyframes cssload-flip {
  0% {
    -ms-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    -ms-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    -ms-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@-webkit-keyframes cssload-flip {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@-moz-keyframes cssload-flip {
  0% {
    -moz-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    -moz-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    -moz-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
