body {
  &.page-blog,
  &.page-news,
  &.page-events,
  &.page-opportunities {}
}

.page-blog,
.page-news,
.page-events,
.page-opportunities {
  .home-listing-block-link {
    a {
      font-family: $condensed-font-family;
      font-weight: $weight-regular;
      display: inline-block;
      color: $black;

      // padding-bottom: 0.8rem;
      &:link {}

      &:visited {}

      &:hover {}

      &:focus {}
    }

    &-more {
      a {
        // margin: 0 0;
        &:link {}

        &:visited {}

        &:hover {}

        &:focus {}
      }
    }
  }
}

.block-list {
  h2 {
    // background: none;
    // color: #222;
    // padding: 10px 15px;
    // cursor: pointer;
    // margin-bottom: -.8em;
    &.block_current {
      // border-bottom: 1px solid $uw-primary-colour;
      &.item-class {
        // display: inherit;
     
      }
    }

    .item-class {
      // display: none;
      // padding: 1rem;
   
    }
  }
}

.blog-post-header {
  width: 100%;
  margin-bottom: 0.5rem;

  .node-type-uw-blog & {
    margin-bottom: 0.5rem;
    background-color: $neutral;
    padding: 0.75rem 0.5rem 0 0.5rem;

    // margin-bottom: 1rem;
    .submitted {
      margin-bottom: 0.5rem;

      .blog-submitted {
        width: 64%;
        float: left;
      }
    }
  }

  .submitted {
    width: 100%;
    .blog-submitted {
      width: 100%;
      float: left;
    }
  }

  .blog-date-time-author {
    float: left;
  }

  .blog-user-image {
    float: left;
    padding-right: 0.25rem;

    &:empty {
      padding-right: 0;
    }
  }
}

.view {
  &.view-events-responsive {
    .view-content {
      h3 {
        margin-top: 0rem;
      }

      .event-date {
        margin: 0.3rem 0;
      }
    }
  }

  .view-content {
    @include media($xsmall-screen) {
      @include span-columns(12 of 12);
    }


    @include media($small-screen) {}


    @include media($medium-screen) {
      @include span-columns(8 of 8);
    }


    @include media($large-screen) {
      @include span-columns(9 of 9);
    }


    h1 {}

    h2 {}

    h3 {
      margin-top: 1.5rem;
      font-weight: normal;

      &.profile-name {
        margin-top: 0;

        @include media($medium-screen) {
          @include clearfix;

          margin-top: 1rem;
        }
      }
    }

    img[typeof="foaf:Image"] {
      float: left;

      // padding-right:1rem;
   
    }

    .field-label {}

    .event-title {
      a {
        // text-decoration: none;
        //   font-size: 1.2rem;
        &:link {}

        &:visited {}

        &:hover {}

        &:focus {}
      }
    }
  }

  &.view-id-uw_ct_special_alert_block {
    .view-content {
      float: none;
    }
  }

  &.view-uw-blog-responsive,
  &.view-uw-news-item-pages-responsive {
    .view-content {
      @include media($large-screen) {
        display: flex;
        flex-wrap: wrap;
      }


      .views-row {
        clear: both;

        &:first-child {
          width: 100%;
          margin-top: 0;
          margin-bottom: 0.75rem;
          min-height: inherit;

          .node-uw-blog {
            min-height: inherit;
          }
        }

        @include media($xsmall-screen) {
          width: 100%;
          margin-top: 0;
          margin-bottom: 0.75rem;
          min-height: inherit;

          .node-uw-blog {
            min-height: inherit;
          }
        }


        @include media($small-screen) {
          width: 100%;
          margin-top: 0;
          margin-bottom: 0.75rem;
          min-height: inherit;

          .node-uw-blog {
            min-height: inherit;
          }
        }


        @include media($medium-screen) {
          width: 100%;
          margin-top: 0;
          margin-bottom: 0.75rem;
          min-height: inherit;

          .node-uw-blog {
            min-height: inherit;
          }
        }


        @include media($large-screen) {
          flex: 1 1 auto;
          flex-grow: 1;
          width: 48.6%;
        }


        &-first {}

        &-even {
          &.views-row-last {
            margin: inherit;
          }
        }

        &-odd {
          @include omega;

          &.views-row-last {
            // margin:inherit;
         
          }
        }

        &-last {}

        img[typeof="foaf:Image"] {
          width: 8rem;
          margin-right: 1rem;
        }
      }

      margin-bottom: 1rem;
    }
  }
}

.node-uw-blog {
  div + h2 {
    margin-top: 0.25rem;
  }

  @extend %ct_box;

  .field-name-field-tag {
    text-transform: uppercase;

    .field-label {
      display: none;
    }

    .field-items {
      .field-item {
        padding-left: 0rem;
        margin: 0 0.1rem 0.5rem 0;
        width: auto;
        float: left;

        &:after {
          content: ", ";
        }

        &:last-child {
          &:after {
            content: "";
          }
        }
      }
    }
  }

  .links {
    font-size: 0.70233rem;
  }
}

.node-type-uw-blog {
  .node-uw-blog {
    border-color: transparent;
    padding: 0rem;
  }
}

#block-uw-ct-blog-blog-public-feed {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

// loader

// // News
// .page-news .view-content h3 {
//   border-bottom: solid 2px $uw-dark-shade-colour;
//   font-weight: normal;
//   font-size: 1.1em;
// }
// .page-news .home-listing-block-date {
//   width: 300px;
//   padding: 0 300px 0 0;
// }
// .page-news .home-listing-block-link {
//   font-weight: normal;
//   font-size: 1rem;
//   padding-bottom: .8rem;
// }
// .page-news .home-listing-block-link a {
//   font-weight: normal;
//   font-size: 1rem;
//   padding-bottom: .8rem;
//   text-decoration: none;
// }
// .page-news .pager-load-more, .page-blog .pager-load-more {
//   background: $uw-dark-shade-colour;
//   color: #eee;
//   text-transform: uppercase;
//   text-align: center;
//   padding: 1em;
// }
// .page-news .pager-load-more a:visited, .page-blog .pager-load-more a:visited {
//   color: #eee;
// }
// .page-opportunities h2 {
//   border-bottom: none;
//   font-weight: normal;
//   margin-bottom: .4rem;
// }
// .opportunity-last-item {
//   padding-bottom: 1rem;
//   border-bottom: $uw-light-shade-colour 1px solid;
//   margin-bottom: 1rem
// }
// .page-news .home-listing-block-date {
//   width: 300px;
//   padding: 0 300px 0 0;
// }

// #uwb_paginator {
//   display: flex;
//   padding: 0;
//   position: relative;
//   left: 0px;
//   top: -10px;

//   .uwb_controls {
//     display: none;
//   }

//   li {
//     width: 100%;
//     flex: 1 0 0;
//     padding: 0;

//     a{
//       padding: 10px 49%;
//       background-color: #757575;
//       border: 0;
//       font-size: 0;
//       margin: 0;
//     }
//     button {
//       width: 100%;
//       padding: 10px 49%;
//       border: 0;
//       margin: 0;
//     }
//   }

//   .uwb_selected {
//     background-color: #252525 !important;
//     border: 0px solid #252525 !important;
//     outline: none !important;
//   }
// }

// commemnts

.comment-wrapper {
  form {
    &.comment-form {
      @extend %ct_box;

      min-height: inherit;
    }
  }

  .comment {
    @extend %ct_box;

    min-height: inherit;

    &.comment-by-anonymous {}

    .attribution {
      .submitted {
        p {
          padding: 0;
          margin: 0;

          &.commenter-name {
            padding: 0;
          }

          &.comment-time {
            padding: 0;
          }

          &.comment-permalink {
            padding: 0;

            a.permalink {}
          }
        }
      }
    }

    .comment-text {
      .content {
        p {
          color: $base-font-color;
          font-family: $base-font-family;
          font-size: modular-scale(-1);
        }
      }
    }

    .comment-arrow {}
  }
}

// taxonomy term page
.page-taxonomy-term {
  .content {
    .term-listing-heading + .node-odd {
      @include span-columns(12 of 12);
    }

    @include media($xsmall-screen) {
      @include span-columns(12 of 12);
    }


    @include media($small-screen) {}


    @include media($medium-screen) {
      @include span-columns(8 of 8);
    }


    @include media($large-screen) {
      @include span-columns(9 of 9);
    }


    img[typeof="foaf:Image"] {
      float: left;

      // padding-right:1rem;
   
    }

    .node-uw-blog {
      min-height: inherit;

      @include media($xsmall-screen) {
        @include span-columns(12 of 12);
      }


      @include media($small-screen) {
        clear: inherit;

        @include span-columns(6 of 12);
      }


      @include media($medium-screen) {
        @include span-columns(8 of 8);
      }


      @include media($large-screen) {
        clear: inherit;

        @include span-columns(4.5 of 9);

        &.node-odd {
          @include omega;

          &:last-child {
            margin-right: inherit;
          }
        }

        .node-even {}
      }
    }
  }
}
