.hide-first-load{
  visibility:hidden;
  height:0;
  overflow:hidden;
  .view-homepage-events .view-content ul &{
    visibility:visible;
    height:auto;
    overflow:inherit;
  }
}
.view-homepage-events{
  position:relative;
  ul{ 
    margin:0;
    padding:0;
    @include media($medium-screen) {
      // padding:0 2.25rem;
    }
    @include align-items(start); // start|end|center|baseline|stretch
    @include display(flex);
    @include flex-direction(row); // row | row-reverse | column | column-reverse
    @include justify-content(stretch);
    @include flex-wrap(wrap);//  nowrap | wrap | wrap-reverse
    @include box-orient(horizontal);// horizontal|vertical|inline-axis|block-axis|inherit
    @include box-pack(start);// start|end|center|justify
    @include box-lines(multiple);// single|multiple 
    @include outer-container();
    li{
      list-style-type:none;
      border-bottom:1px solid $lighter-gray;
      &:last-child{
        border-bottom:none;
         margin-right:0;
      }
      margin:0.5rem 0;
      padding:1rem 0;
      @include flex(1 0 100%);
      @include media($small-screen) {
         @include flex(1 0 45%);
          margin:0rem 4rem 2rem 0rem;
        &:nth-child(even){
          margin-right:0;
        }
       
      }
      @include media($medium-screen) {
       @include flex(1 0 30%);
        border-bottom:none;
        padding:0;
        &:nth-child(even){
          margin:0rem 2rem 5rem 0rem;
        }
        &:last-child{
          margin-right:0;
        }
       }
       @include media($large-screen) {
         margin:0rem 3rem 0rem 0rem;
           &:nth-child(even){
          margin:0rem 3rem 5rem 0rem;
          }
          &:nth-child(3n),
          &:last-child{
            margin-right:0;
          }
       }
      a.event-item{
        
         display:block;
        &.image{}
        img {

        }
        .time{
            display:block;  
            font-family: $font-1451-bold;
        }
        .date{
           @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

           background:$uw-black;
           text-transform:uppercase;
           color:$uw-gold;
           height:6rem;
           width:6rem;
           display:block; 
           float:left;
           margin:0 1rem 0 0;
           text-align:center;
           padding-top:0.5rem;
          .day{
            display:block; 
            font-family: $condensed-font-family;
            font-weight:bold;
            font-size: modular-scale(10);
            line-height:1;
          }
          .month{
          display:block;  
            font-family: $font-1451-bold;
          }
          .year{
            display:block;
            font-family: $font-1451-bold; 
          }
        }

        .title{
          display:block;
          text-decoration:none;
        }
        .teaser{
          display:block;
           text-decoration:none;
        }
        &:hover,
        &:focus{
          outline:none;
          .date{
          @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

            background:$uw-gold;
            color:$uw-black; 
          }
          .title{
          
           text-decoration:underline;
        }
        .teaser{
          display:block;
          text-decoration:none;
        }
        }
      }
    }
  }
  .view-footer{
   display:block;
   padding:1rem 0 0 0 ;
    .morelink{
      text-align:center;
      a{
        @extend %button;
        max-width:20rem;
        background-color:$dark-gray;
        color:$white;
        &:hover,
        &:focus{
          background:$uw-gold;
          color:$uw-black;
        }
      }
    }
  }
}

