.node-type-directory-page{
  .content {
    min-height:28.13rem;

  }
  .uw-site-sidebar .content {
      min-height:inherit;
  }
  // .uw-site-sidebar{float:left;}
  .columns-wrapper{
            @include align-items(start); // start|end|center|baseline|stretch
            @include display(flex);
            @include flex-direction(row); // row | row-reverse | column | column-reverse
            @include justify-content(stretch);
            @include flex-wrap(wrap);//  nowrap | wrap | wrap-reverse
            @include box-orient(horizontal);// horizontal|vertical|inline-axis|block-axis|inherit
            @include box-pack(start);// start|end|center|justify
            @include box-lines(multiple);// single|multiple 
            @include outer-container();
    .column{
      @include media($medium-screen){
        // &:nth-child(2), 
        // &:nth-child(3) {
        //    margin-left:1rem;
        // }
      }
      ul{
        margin:0;
        padding:0;
        list-style-image: none; 
        list-style-type: none;
        li{
          a {
            display: block; 
            position: relative;
            color: #000;
            padding: 0.5rem 1rem;
            border-bottom: solid 2px $lighter-gray;
            text-decoration: none;
            &:visited {color: #000;}
            &:hover,
            &:focus{
              color: #000; 
               
              text-decoration: underline;
            }
            &.image {
              padding: 10px;
            }

          } 
        } 
      }
    }
    &.three{
      .column{
        @include flex(1 0 100%);
        @include media($medium-screen){
          @include flex(1 0 30%);
        }
      }
      .filterable-group{
        @include media($medium-screen){
          &:nth-child(2), 
          &:nth-child(3) {
             margin-left:1rem;
          }
        }
        @include flex(1 0 100%);
        @include media($medium-screen){
          @include flex(1 0 30%);
        }
        ul{
          margin:0;
          padding:0;
          list-style-image: none; 
          list-style-type: none;
          li{
            a {
              display: block; 
              position: relative;
              color: #000;
              padding: 0.5rem 1rem;
              border-bottom: solid 2px $lighter-gray;
              text-decoration: none;
              &:visited {color: #000;}
              &:hover,
              &:focus{
                color: #000; 
                 
                text-decoration: underline;
              }
              &.image {
                padding: 10px;
              }

            } 
          } 
        }
      }
    }
    &.two{display:block;
      @include outer-container();
      .column{
         @include span-columns(12 of 12);
        // @include flex(100%);
       @include media($medium-screen) {
         @include span-columns(6 of 12);

        border: none;
      }
        &.right{ @include omega();}
        &.left{}
        .filterable-group{

        }
        @include media($medium-screen){
          // @include flex(1);
          // @include flex(1 0 49%);
        }
      }
    }
    &.static-links{

      ul{

        li{
          a{
            &:after{
              content: " ";
              display: inline-block;
              width: 1.5rem;
              height: 0.75rem;
              margin-left: 0.5rem;
              position:absolute;
              right:1rem;
            }
          }
        }
      }
    }
  }
  .faculties-and-academics .directory-filter {
     margin-top:2rem;
       ul { 
       padding: 0 0.25rem 1rem 0.25rem;
        @include media($small-screen){
            padding: 0.6rem 0.5rem 0rem 0;
        }
        li{
          @include flex(33%);

          &:first-child{
            
            @include flex(100%);
            @include media($xsmall-screen){
              @include flex(1);
            }
          }
          text-align:left;
          @include media($xsmall-screen){
            text-align:center;
            @include flex(1);
          }
          @include media($small-screen){
             // @include flex(80px);
          }
         
          @include media($medium-screen){
            @include flex(1);
          }
          a{
            display:block;
            position:relative;
            padding: .5rem 0 0.5rem 0.5rem;
            @include media($xsmall-screen){
            padding: 0.5rem 0;
            }
            
            &.all{
              text-align:center;
            }
             &:before{
                content: " ";
                display: inline-block;
                width: 1.5rem;
                height: 0.65rem;
                margin-right: 0.25rem;
                 @include media($xsmall-screen){
                  // width: 3.5rem;
                  // margin-right: inherit;
                 }
                  @include media($small-screen){
                    // width: 1rem;
                    // margin-right: 0.75rem;
                  }
                  @include media($medium-screen){
                    // width: 1.5rem;
                  }             
              }
          }
        }
    }
  }
  .social-media .directory-filter{
         ul { 
            padding: 0 0.25rem 1rem 0.25rem;
            @include media($small-screen){
              padding: 0.6rem 0.5rem 1rem 0;
            }
           @include media($medium-screen){
                 @include span-columns(10 of 12);
                  @include display(flex);
                   padding: 0.6rem 0.5rem 0rem 0;
   
            }
            li{
              @include flex(50%);
                @include media($medium-screen){
                @include flex(1);
              }
              a{ 
                border-top: none;
                display:block;
                text-align:left;
                padding: 0.4rem 0rem 0.5rem 0rem;
                line-height:modular-scale(3); 
                position:relative;
                &.all{
                  padding: 0.4rem 0rem 0.5rem 2rem;
                }
                 @include media($medium-screen){
                   &.all{
                    text-align:center;
                    padding: 0.4rem 0rem 0.5rem 0rem;
                   }
                    padding-left:0;
                 }
             
                 &:before{
                      content: " "; 
                      display: block;
                      float:left;
                      width: 1.5rem;
                      height: 1.5rem;
                      font-family: $fdsu-icon-font;
                      color: $uw-black;
                      font-weight:200;
                      margin:0 0.25rem 0 0.15rem;
                      @include media($large-screen){
                      
                      }
                      font-size: modular-scale(3);
                      text-rendering: auto;
                      -webkit-font-smoothing: antialiased;
                      -moz-osx-font-smoothing: grayscale;    
                  }
                  &.instagram:before {content:$fdsu-instagram;}
                  &.twitter:before {content: $fdsu-twitter;}
                  &.facebook:before {content: $fdsu-facebook;}
                  &.youtube:before {content: $fdsu-youtube;}
                  &.linkedin:before {content: $fdsu-linkedin;}
              }
            }
        }
    }
  .offices-and-services .directory-filter { 
      ul{
        padding:0 0.75rem 1rem 0.75rem;
        @include media($small-screen){
            padding: 0.6rem 0.5rem 0rem 0;
        }
        li{ 
          // background:rgba(23,23,67,0.2);
          height:2rem;
          line-height:2rem;
          
          @include flex(1 0 35px);
          @include media($small-screen){
            @include flex(1);
          }
          
          
          a{display:block;
            padding:0 0.2rem;
            &:after{
                content:inherit;
                display: inherit;
                width: inherit;
                height: inherit;
                margin-left: inherit;
            }
            
          }
          &.disabled{
            font-size: modular-scale(-1);
            color: $lighter-gray; 
            font-weight:$weight-bold;
            background-color: #fff; 
            margin-right:1px;
            cursor: default; 
            // padding: 0 5px; 
            display: block;
          }
        }
      }
    }
  .directory-filter{
    // padding: 0.5rem 1rem;
    @include outer-container();
    background:$lighter-gray;
    strong{
      @include span-columns(12 of 12);
      padding: .8rem 0 .75rem 1rem;
      display:inline-block;
      
      @include omega();
      @include media($small-screen){
            @include span-columns(2 of 12);
        }
      
    }
     ul{
      margin:0;
      
      list-style-image: none; 
      list-style-type: none;
      @include span-columns(12 of 12);
      @include align-items(start); // start|end|center|baseline|stretch
      @include display(flex);
      @include flex-direction(row); // row | row-reverse | column | column-reverse
      @include justify-content(stretch);
      @include flex-wrap(wrap);//  nowrap | wrap | wrap-reverse
      @include box-orient(horizontal);// horizontal|vertical|inline-axis|block-axis|inherit
      @include box-pack(start);// start|end|center|justify
      @include box-lines(multiple);// single|multiple 
      
      @include media($small-screen){
         @include span-columns(10 of 12);
          @include omega();
          @include align-items(start); // start|end|center|baseline|stretch
          @include display(flex);
          @include flex-direction(row); // row | row-reverse | column | column-reverse
          @include justify-content(stretch);
          @include flex-wrap(wrap);//  nowrap | wrap | wrap-reverse
          @include box-orient(horizontal);// horizontal|vertical|inline-axis|block-axis|inherit
          @include box-pack(start);// start|end|center|justify
          @include box-lines(multiple);// single|multiple 
          
        }
    
       
       li{ 
        text-align:center;
        margin:0;
          a{
            display:block;
            // padding: 0 5px;
            text-decoration:none;
            &.all{
              &:after,
              &:before{
                display:none;
              }
            }
            &.active{
              background-color: $uw-gold;
            }
          }
          
        }
     }
  }
  .directory-filter li a.ahs:before, 
  .static-links li.ahs a:after {background-color: $uw-ahs;}
  .directory-filter li a.arts:before, 
  .static-links li.arts a:after {background-color: $uw-arts;}
  .directory-filter li a.eng:before, 
  .static-links li.eng a:after {background-color: $uw-engineering;}
  .directory-filter li a.env:before, 
  .static-links li.env a:after {background-color: $uw-environment;}
  .directory-filter li a.math:before, 
  .static-links li.math a:after {background-color: $uw-math;}
  .directory-filter li a.sci:before, 
  .static-links li.sci a:after {background-color: $uw-science;}

  }
.node-directory-social-media-links .blocklinks a {padding-left: 5px;}
.social-media-icon {
  float: left;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-top:0.2rem;
  background: url('../images/sprites-social-media-black.png') no-repeat;
  text-indent: -9999em;
}

.instagram .social-media-icon{background-position: -16px 0;}
.twitter .social-media-icon{background-position: -32px 0;}
.facebook .social-media-icon{background-position: -48px 0;}
.youtube .social-media-icon {background-position: -64px 0;}
.linkedin .social-media-icon{background-position: -80px 0;}


