.uw-site-homepage-tabs {
  width: 100%;
}

#block-uw-ct-news-item-front-page {}

#block-uw-ct-news-item-front-page {}

#block-uw-ct-event-front-page {}

.field-type-text-with-summary {
  .field-items {
    .field-item {
      // overflow:hidden;
   
    }
  }
}

.block-opportunities {
  .front & {}
}

.front {
  .block-list {
    h2 {
      cursor: pointer;
    }

    .item-class {
      // display: none;
      height: 0;
      opacity: 0;
      display: block;
      overflow: hidden;
      margin: 0;

      @include uw-transition($delay: 0s, $duration: 400ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

      width: 100%;

      &.block_current,
      &.block_current-single {
        opacity: 1;
        height: auto;
        overflow: visible;
        margin: 0.5rem 0;

        // display: inherit;
        @include uw-transition($delay: 0s, $duration: 400ms, $timing: "linear", $property: (color, background-color, border-color, opacity));
      }

      .item-list {
        min-height: 10rem;

        @include clearfix;

        > ol,
        > ul {
          padding: 0;
          margin: 0;
          list-style-type: none;

          > li {
            @extend %ct_box;

            @include fill-parent;

            min-height: inherit;

            @include media($small-screen) {
              clear: inherit;

              @include span-columns(6 of 12);
            }


            @include media($medium-screen) {
              clear: both;

              @include span-columns(9 of 9);
            }


            @include media($large-screen) {
              clear: inherit;

              .wide & {
                @include span-columns(4.5 of 9);
              }
            }


            &.block_current-single {
              @include span-columns(12 of 12);
            }

            .home-listing-block-date {
              text-transform: uppercase;
              display: block;
            }

            .home-listing-block-link {
              display: block;
              margin-bottom: 0.5rem;
            }

            &:nth-child(2n) {
              @include omega;
            }
          }
        }
      }
    }
  }

  .home-listing-block-more-link {
    display: block;
    text-align: center;

    a {
      @extend %button;

      &:hover {
        color: $white;
      }
    }
  }

  .hp-opportunity--deadline-label {
    display: inline-block;
    padding-right: 0.25rem;

    > span {
      display: inline-block;
      float: left;
    }
  }

  .hp-opportunity--type {
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    background: #F7F7F7;
    padding: 0.1rem 0.5rem 0.3rem 0.5rem;
    text-transform: uppercase;
    display: block;
  }

  .uw-site-homepage-tabs {
    @include display(flex);

    @include flex-direction(row);

    // row | row-reverse | column | column-reverse
    @include flex-wrap(wrap);

    //  nowrap | wrap | wrap-reverse
    margin-top: 1rem;
  }

  h2.tab-link {
    text-align: center;
    display: none;

    &.hp-tabs {
      @include flex(1 0 50%);

      @extend %button;

      padding-right: 0;
      padding-left: 0;
      max-width: inherit;
      display: inline-block;
      border-bottom: 0.4rem solid $white;

      &.block_current {
        border-bottom: 0.4rem solid $dark-gray;
      }
    }

    &.hp-tab {
      display: block;
      text-align: left;
      padding-bottom: 0.2rem;
      border-bottom-style: none;
    }
  }

  @include media($xsmall-screen) {
    h2.tab-link {
      &.hp-tabs {
        @include flex(1);
      }
    }
  }


  @include media($small-screen) {
    h2.tab-link {
      &.hp-tabs {
        @include flex(1);
      }
    }
  }


  @include media($medium-screen) {
    h2.tab-link {
      &.hp-tabs {
        @include flex(1);
      }
    }
  }
}
