.hide-first-load{
  visibility:hidden;
  height:0;
  overflow:hidden;
  .view-homepage-news .view-content ul &{
    visibility:visible;
    height:auto;
    overflow:inherit;
  }
}
.view-homepage-news{
  position:relative;
  ul{ 
    margin:0;
    padding:0;
    // padding:0 2.25rem;
    @include media($medium-screen) {
      // padding:0 2.25rem;
    }
    @include align-items(start); // start|end|center|baseline|stretch
    @include display(flex);
    @include flex-direction(row); // row | row-reverse | column | column-reverse
    @include justify-content(stretch);
    @include flex-wrap(wrap);//  nowrap | wrap | wrap-reverse
    @include box-orient(horizontal);// horizontal|vertical|inline-axis|block-axis|inherit
    @include box-pack(start);// start|end|center|justify
    @include box-lines(multiple);// single|multiple 
    @include outer-container();
    li{
      list-style-type:none;
      border-bottom:1px solid #eee;
      &:last-child{
        border-bottom:none;
        margin-right:0;
      }
      margin:0.5rem 0;
      padding:1rem 0;
      &:first-child{
        padding-top:0;
        margin-top:0;
      }
      @include flex(1 0 100%);
      @include media($small-screen) {
         @include flex(1 0 45%);
          margin:0rem 4rem 0rem 0rem;
          border-bottom:none;
        &:nth-child(even){
          margin-right:0;
        }
       
      }
      @include media($medium-screen) {
        margin:0rem 2rem 0rem 0rem;
       @include flex(1 0 30%);
       
        padding:0;
        &:nth-child(even){
          margin:0rem 2rem 5rem 0rem;
        }
        &:nth-child(3n),
        &:last-child{
          margin-right:0;
        }
       }
       @include media($large-screen) {
          margin:0rem 3rem 0rem 0rem;
           &:nth-child(even){
          margin:0rem 3rem 5rem 0rem;
          }
          &:nth-child(3n),
          &:last-child{
            margin-right:0;
          }
       }
      a.news-item{
         display:block;

        &.image{}
        img {

        }
        .uw-news-date{
           @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));
           display:inline-block;
           margin:0rem 0 1.25rem 0;
           padding:0.5rem 4rem 0.5rem 1rem;
           background:$uw-black;
           text-transform:uppercase;
           color:$uw-gold; 
          font-weight:400;
        }

        .uw-news-title{
          display:block;
           text-decoration:none;
        }
        .uw-news-teaser{
          display:block;
           text-decoration:none;
        }
        &:hover,
        &:focus{
          outline:none;
          .uw-news-date{
             @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

            background:$uw-gold;
            color:$uw-black; 
          }
          .uw-news-title{
          
           text-decoration:underline;
        }
        .uw-news-teaser{
          display:block;
          text-decoration:none;
        }
        }
      }
       .uw-news-tags{
        display:block;

        margin:1rem 0;
      }
    }
  }
  .view-footer{
   display:block;
   padding:1rem 0 0 0 ;
    .morelink{
      text-align:center;
      a{
        @extend %button;
        max-width:20rem;
        background-color:$gray;
        color:$white;
        &:hover,
        &:focus{
          background:$uw-gold;
          color:$uw-black;
        }
      }
    }
  }
}

