#pathway-links {
    text-transform: uppercase;
    margin:0 0 1rem 0;
    @include span-columns(12 of 12);
    @include media($medium-screen) {
        @include span-columns(6 of 12);
        padding-top:1.5rem;
    }
    .block{
        display:block;
        height: 1.25rem;
        position:relative;
    } 
    h2 {
        display: none;
    }
    ul {
        @include media($medium-screen) {
            position:absolute;
            right:0; 
         }
        list-style: none;
        &.menu{
            margin:0;
            padding:0;
        }
        li {
            width:25%;
            text-align:center;
            float:left;
            display:inline-block;
            border-left: solid 1px $gray;
            @include media($medium-screen){
            }
            padding: 0 0.85rem;
            list-style-type: none; 
            list-style-image: none;
            &:first-child {
                border: none;
            }
             @include media($medium-screen){
                width:inherit;
            }
            a { 
                text-decoration: none; 
                display: block;
                &:hover,
                &.active{
                   text-decoration: underline; 
                }
                &:link,
                &:visited,
                &:hover{
                    color: #000;
                }
                @include media($medium-screen){
                    line-height:inherit;
                }
            }
        }
    }
}

.toplinks{
    .blocklinks {
        .wrapper {
          
        }
        
        ul{     
            @include align-items(start); // start|end|center|baseline|stretch
            @include display(flex);
            @include flex-direction(row); // row | row-reverse | column | column-reverse
            @include justify-content(stretch);
            @include flex-wrap(wrap);//  nowrap | wrap | wrap-reverse
            @include box-orient(horizontal);// horizontal|vertical|inline-axis|block-axis|inherit
            @include box-pack(start);// start|end|center|justify
            @include box-lines(multiple);// single|multiple 
            @include outer-container();
            margin:0;
            padding:0;
            list-style-image: none; 
            list-style-type: none;
            li{
               margin-bottom: 0;
               @include flex(1 0 100%);
               margin-left:1rem;
                @include media($medium-screen){
                  @include flex(1 0 30%);
                  &:nth-child(1), 
                  &:nth-child(4), 
                  &:nth-child(7) {
                     margin-left:0;
                  }
                }
               
               a {
                  display: block; 
                  position: relative;
                  color: #000;
                  padding: 0.5rem 1rem;
                  border-bottom: solid 2px $lighter-gray;
                  text-decoration: none;
                  &:visited {color: #000;}
                  &:hover,
                  &:focus{
                    color: #000; 
                     
                    text-decoration: underline;
                  }
                  &.image {
                    padding: 10px;
                  }

                } 
            }
        }
        strong.heading {
            display: block;
            font-size: 2em;
            margin: 10px 0 5px;
        }
    }
}
.page-node-35,
.page-node-2,
.page-node-36,
.page-node-37,
.page-node-365{
  .columns-wrapper{
            @include align-items(start); // start|end|center|baseline|stretch
            @include display(flex);
            @include flex-direction(row); // row | row-reverse | column | column-reverse
            @include justify-content(stretch);
            @include flex-wrap(wrap);//  nowrap | wrap | wrap-reverse
            @include box-orient(horizontal);// horizontal|vertical|inline-axis|block-axis|inherit
            @include box-pack(start);// start|end|center|justify
            @include box-lines(multiple);// single|multiple 
            @include outer-container();
    .column{
      @include media($medium-screen){
        &:nth-child(2), 
        &:nth-child(3) {
           margin-left:1rem;
        }
      }
      ul{
        margin:0;
        padding:0;
        list-style-image: none; 
        list-style-type: none;
        li{
          a {
            display: block; 
            position: relative;
            color: #000;
            padding: 0.5rem 1rem;
           border-bottom: solid 2px $lighter-gray;
            text-decoration: none;
            &:visited {color: #000;}
            &:hover,
            &:focus{
              color: #000; 
               
              text-decoration: underline;
            }
            &.image {
              padding: 10px;
            }

          } 
        } 
      }
      
    }
    &.three{
      .column{
        @include flex(1 0 100%);
        @include media($medium-screen){
          @include flex(1 0 30%);
        }
      }
    }
    &.two{
      .column{
        @include flex(1 0 100%);
        @include media($medium-screen){
          @include flex(1 0 48%);
        }
      }
    }
    
  }
}
/* regions and content */

