/* Services changes for responsive */
// service search tab

#views-exposed-form-uw-services-search-services-search {
  #edit-combine-wrapper {
    width: 100%;

    input[type="text"] {
      width: 100%;
      box-sizing: border-box;
      padding-right: 2.5rem;
    }

    .ui-autocomplete-input {
      // background-position: top 4px right 20px;
   
    }

    .form-submit {
      // margin-top: 5px;
   
    }

    .ui-autocomplete {
      position: relative;
      top: -12px;
      width: 100%;

      #site-sidebar & {
        width: 100%;
      }
    }
  }

  .views-exposed-widget {
    padding: 0;
  }

  .views-exposed-widgets {
    position: relative;
    z-index: 0;
  }

  .views-submit-button {
    position: absolute;
    z-index: 8;
    right: 0.25rem;
    height: 2rem;
    text-align: center;

    &:after {
      z-index: 2;
      position: absolute;
      bottom: 0.35rem;
      right: 0;
      height: 2.25rem;
      width: 2rem;
      content: $fdsu-search-2;
      font-family: $fdsu-icon-font;
      border-radius: $base-border-radius;
      color: $gray;
      font-size: modular-scale(3);
      text-rendering: auto;

      @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));
    }

    &:hover {
      &:after {
        color: $black;
        background-color: $dark-gray;

        @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));
      }
    }
  }

  #edit-submit-uw-services-search {
    position: absolute;
    right: 0;
    top: -0.7rem;
    z-index: 3;
    border-left: solid 1px $dark-gray;
    display: block;
    text-indent: -9999rem;
    background-color: transparent;
    width: 2.35rem;
    height: 2.3rem;
    padding: 0;
  }
}

.view-uw-service-glossary,
.view-uw-service-categories,
.view-uw-services-popular {
  // margin-top: 0.625rem;
  .view-header {
    @include clearfix;

    min-height: 3rem;
    position: relative;
  }

  .view-content {
    margin: 1rem 0;
  }
}

.page-services-by-audience {
  .block-system {
    .content {
      position: relative;
    }
  }
}

.service-next,
.service-prev {
  visibility: visible;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);

  // bottom: 1.4rem;
  top: 0px;

  .page-services-by-audience & {
    bottom: inherit;
    top: 0px;
  }

  height: 3.6rem;
  width: 1.2rem;

  @include media(rem(601)) {
    visibility: hidden;
  }


  #site-sidebar & {
    display: none;
  }

  &:before {
    position: absolute;
    top: 0.65rem;
    font-size: modular-scale(3);
    font-family: $fdsu-icon-font;
    border-radius: $base-border-radius;
    color: $gray;
    content: $fdsu-arrow;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &:hover {
    &:before {}
  }
}

.service-next {
  right: 0;

  &:before {}
}

.service-prev {
  &:before {
    left: -0.1rem;
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }
}

.tablike {
  margin: 1rem 0;
  visibility: hidden;

  &.owl-carousel,
  #site-sidebar & {
    visibility: visible;
    display: inherit;
  }
}

// override background color and margin defined in uw_ct_service.css
#site-sidebar .tablike {
  // padding-bottom:1rem;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
  padding-left: 0rem;

  @include media($small-screen) {}


  @include media($medium-screen) {}


  @include media($large-screen) {}


  // line-height: 2rem;
  overflow: auto;

  .services-tab-item {
    margin-bottom: 0.25rem;
  }
}

.js {
  #content #views-exposed-form-uw-services-search-services-search {
    display: none;

    /* js is enabled, don't display search block. */
  }
}

.view-uw-service-glossary,
.view-uw-service-categories,
.view-uw-services-popular,
.view-uw-services-search {
  position: relative;

  .view-content {
    .views-row {
      margin: 0.5rem 0;
    }

    margin: 2rem 0;

    ul {
      list-style-type: none;

      li {
        font-size: modular-scale(0);
        clear: both;
        margin: 0.8rem 0;
      }

      &:first-child {
        font-size: modular-scale(0);
      }

      margin-left: 0;
      padding-left: 0;
    }

    h2 {
      a {
        // font-size:modular-scale(3);
     
      }

      &:first-child {
        a {
          // font-size:modular-scale(3);
          text-decoration: none;
        }
      }
    }
  }
}

#a-z {
  &-nomatch {
    display: none;
  }

  &-filter {
    padding-left: 1.5rem;
  }
}

.block-uw-ct-service {
  margin: 0.8rem 0;
}

.services-tab-item {
  a {
    @extend %button;

    max-width: inherit;
    text-decoration: none;
    text-align: center;

    // border-right: 1px solid #dbdbdb;
    &:hover {
      cursor: pointer;
    }

    &.active {
      border-bottom: 0.4rem solid $dark-gray;
    }
  }

  &.services-search-tab {
    margin: 0;

    a {
      max-width: inherit;
      padding-left: 2.1rem;

      // border-right: 1px solid transparent;
   
    }
  }
}

.view-uw-service-categories {
  .view-content {
    .views-row {
      margin: 0.8rem 0;
    }

    ul {
      &:first-child {
        list-style-type: none;
        padding: 0 0 0 1em;

        > li {
          padding: 0 0 1.2em 0;

          *:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
          }
        }
      }

      li {}
    }

    h2 {
      &:first-child img {
        vertical-align: top;

        // height:4.750rem;
        width: 3.750rem;
        margin: 0 0.6rem 0.6rem 0;
        float: left;

        @include media($medium-screen) {
          // height:3.750rem;

          width: 4.750rem;
        }
      }
    }
  }
}

.view-uw-service-categories .view-content h2:first-child {
  // font-weight: normal;
  border: none;
}

.view-uw-service-categories .view-content h2:first-child a {
  // font-size: 1.2em;
  text-decoration: underline;
  margin-right: 0.2rem;
}

#block-uw-ct-service-service-tablike-sidebar .content ul {
  padding: 0 0 1.5rem 0;
}

#block-uw-ct-service-service-livechat-feedback-links .content ul {
  padding: 0 0 1.5rem 0;
}

.page-services-by-audience,
.page-services-glossary,
.page-services,
.page-services-all,
.page-services-category,
.page-services-popular {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .field-type-taxonomy-term-reference,
  .field-type-text {
    margin: 1rem 0 0.7rem 0;
  }

  .field-items {
    .field-item {
      padding-left: 1.5rem;

      #site-sidebar-wrapper & {
        padding: 0;
      }
    }
  }
}

.service-category-sub ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.field-name-field-service-location,
.field-name-field-service-contact,
.field-name-field-service-owner {
  margin: 0 0 1rem;
}

#uw-ct-service-search-block-form abbr.form-required {
  display: none;
}

#block-views-aa21ba3d7366fc48e4150f566add9429 {
  @include clearfix;

  margin: 0;
  padding: 0;
}

.insert-links {
  float: right;
  margin-bottom: 0.4rem;
}

.view-uw-service-glossary .views-field-body {
  margin-bottom: 1rem;
}

.date-display-single {}

.container-inline-date {
  clear: both;

  .form-item {
    float: none;
    margin: 0;
    padding: 0;
    width: auto;
    clear: both;

    input {
      width: auto;
    }

    input,
    select,
    option {
      margin-right: 5px;
    }

    .form-item {
      float: left;

      /* LTR */
    }

    .description {
      clear: both;
    }

    .date-spacer {
      margin-left: -5px;
    }
  }

  > .form-item {
    display: inline-block;
    margin-right: 0.5em;

    /* LTR */
    vertical-align: top;

    .form-item {
      float: left;

      /* LTR */
    }
  }

  .views-right-60 & {
    div {
      margin: 0;
      padding: 0;
    }
  }

  fieldset.date-combo & {
    > .form-item {
      margin-bottom: 10px;
    }

    .date-padding {
      float: left;
      padding: 10px;
    }
  }

  .date-timezone {
    .form-item {
      clear: both;
      float: none;
      width: auto;
    }
  }

  .date-padding {
    float: left;

    .views-exposed-form & {
      padding: 0;
    }
  }
}

/* Animated throbber */
html.js input.form-autocomplete {
  background-image: url("../images/rwd-home/ring-alt-white.gif");
  background-image: url("../images/rwd-home/ring-alt-white.svg");
  padding-left: 1.5rem;
  background-size: 15px;
  background-position: -1000px 12px;
  background-repeat: no-repeat;
}

html.js input.throbbing {
  background-image: url("../images/rwd-home/ring-alt-white.gif");
  background-image: url("../images/rwd-home/ring-alt-white.svg");
  background-size: 15px;
  background-position: 3px 12px;
  background-repeat: no-repeat;
}

/* AUTOCOMPLETE MENU */
[data-sa-theme="basic-green"] div {
  display: block;
}

// Owl carousel css for services
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */

/* clearfix */
.page-services-by-audience {
  .owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;

    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }

    .owl-wrapper {
      display: none;
      position: relative;
      -webkit-transform: translate3d(0px, 0px, 0px);
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
    }

    .owl-wrapper-outer {
      overflow: hidden;
      position: relative;
      width: 100%;

      &.autoHeight {
        -webkit-transition: height 500ms ease-in-out;
        -moz-transition: height 500ms ease-in-out;
        -ms-transition: height 500ms ease-in-out;
        -o-transition: height 500ms ease-in-out;
        transition: height 500ms ease-in-out;
      }
    }

    .owl-item {
      float: left;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);

      &.loading {
        min-height: 150px;
        background: url("../images/rwd-home/AjaxLoader.gif") no-repeat center center;
      }
    }
  }

  .owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &.clickable {
      .owl-page {
        &:hover {
          span {
            filter: Alpha(Opacity = 100);

            /*IE7 fix*/
            opacity: 1;
          }
        }
      }
    }

    .owl-theme & {
      margin-top: 10px;
      text-align: center;
    }

    .owl-page {
      display: inline-block;
      zoom: 1;
      *display: inline;

      /*IE7 life-saver */
      &.active {
        span {
          filter: Alpha(Opacity = 100);

          /*IE7 fix*/
          opacity: 1;

          &.owl-numbers {
            height: auto;
            width: auto;
            color: #FFF;
            padding: 2px 10px;
            font-size: 12px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
          }
        }
      }
    }

    .owl-buttons {
      div {
        cursor: pointer;
        color: #FFF;
        display: inline-block;
        zoom: 1;
        *display: inline;

        /*IE7 life-saver */
        margin: 5px;
        padding: 3px 10px;
        font-size: 12px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        background: #869791;
        filter: Alpha(Opacity = 50);

        /*IE7 fix*/
        opacity: 0.5;

        &:hover {
          filter: Alpha(Opacity = 100);

          /*IE7 fix*/
          opacity: 1;
          text-decoration: none;
        }
      }
    }

    .owl-page {
      display: inline-block;
      zoom: 1;
      *display: inline;

      /*IE7 life-saver */
    }
  }

  .grabbing {
    cursor: url("../images/rwd-home/grabbing.png") 8 8, move;
  }
}
