.view-filters {}

.views-exposed-widgets {
  margin-bottom: 0.5rem;
}

.views-exposed-widget {
  float: left;

  /* LTR */
  padding: 0.5rem 1rem 0 0;

  /* LTR */
  position: relative;

  &.views-submit-button {
    padding: 0 1rem 0 0;
    margin-top: 0.8rem;

    .form-submit {
      border: 0px solid transparent;
    }
  }

  .views-widget {
    //form element wrapper
    .form-item {
      margin-top: 0;
      margin-bottom: 0;

      &.form-type-radio {}

      &.form-type-select {}

      &.form-type-input {}
    }

    // actual form elements
    .form-submit {
      margin-top: 0;
      margin-bottom: 0;
    }

    .form-select {}

    .required {}
  }
}

/* table style column align */
.views-align-left {
  text-align: left;
}

.views-align-right {
  text-align: right;
}

.views-align-center {
  text-align: center;
}

/* Remove the border on tbody that system puts in */
.views-view-grid tbody {
  border-top: none;
}

.view .progress-disabled {
  float: none;
}

//homepage sidebar views - notice board ect.
.view {
  &.view-manage-promotional-items {}
}

.view-content {}

.views-row {
  &-first {}

  &-odd {}

  &-last {}
}

.ist-notice-board {
  ul, ol {
    list-style-type: none;
    padding: 0;
  }

  li {
    &.li_quick_link {
      @include media($large-screen) {
        margin: 0rem 0;
      }


      &:nth-child(even) {
        background-color: $white;
      }
    }

    &:nth-child(odd) {}

    &:nth-child(even) {
      background-color: $light-gray;
    }

    // margin:1rem 0;

    a {
      display: block;
      padding: 0.3rem 0.1rem 0.3rem 0.3rem;

      &:link {
        text-decoration: none;
      }

      &:hover {
        background-color: $neutral;
      }

      .li_quick_link & {}
    }
  }
}

.view-display-id-promotional_block {
  margin-top: 0;
}
