.uw-site--banner{
  position: relative;
  background:$uw-black;
}
.featured {
  .quicktabs-hide{
    
    }
  .quicktabs-wrapper{

    overflow:hidden;
    height:auto;
    position: relative;
    @include media($xsmall-screen) {
    }
    @include media($small-screen) { 
    }
    @include media($medium-screen) {
      // height:28.125rem;
    }
    @include media($large-screen) {
      // height:37.500rem;
    }
    @include media(rem(1680)){
      // height:37.500rem;
      // height:40rem;
    }
    .quicktabs_main{
      clear:both;
    }
  }
  .item-list{
    position:absolute;
    bottom:0rem;
    height:1rem;
    padding:0;
    z-index:map-get($zindex, interact);
    width:100%;
    margin:0;
    padding:0;
    button.slideshow-control{
      font-family: 'iconic';
      font-style: normal;
      speak: none;
      font-weight: 400;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      position:absolute;
      width:2rem;
      top:-3rem;
      left:0.5rem;
      padding:0.5rem;
      @include media($medium-screen) {
      top:-3rem;
      left:2rem;
      }
      &.pause{
        &:before{
           content: "\e001";
        }
      }
      &.play{
        &:before{
           content: "\e000";
        }
      }
      &:focus{
        outline:1px solid;
      }
    }
    ul.quicktabs-tabs{
      @include align-items(center); // start|end|center|baseline|stretch
      @include display(flex);
      @include flex-direction(row); // row | row-reverse | column | column-reverse
      @include justify-content(center);
      @include flex-wrap(wrap);//  nowrap | wrap | wrap-reverse
      @include box-orient(horizontal);// horizontal|vertical|inline-axis|block-axis|inherit
      @include box-pack(center);// start|end|center|justify
      @include box-lines(multiple);// single|multiple       
      position:absolute;
      background-color:$white;
      width:100%;
      margin:0;
      padding:0;
      bottom:0;
      height:0.75rem;
      overflow:hidden;
      li{
        @include flex(1);
        list-style-type:none;
        background-color:$gray;
        padding:0;
        margin:0;
        height:0.75rem;
        a{
          display: block;
          text-indent: -9909px;
          border-right:1px solid $white;
          padding:0;
          margin:0;
          height:0.75rem;
          &:focus{
           outline:1px solid;
           // background-color:$uw-gold;
          }
        }
        &.first{}
        // &.active{background-color:$white;}
        &.last{
          a{ 
            border-right:none;
          }
        }


      }
    }
  }
}
.banner{
  &-item{
    .quicktabs-tabpage &{
    }
    .quicktabs-hide &
    {
      display:none;
    }
    a{
      &:link,
      &:active,
      &:visited{text-decoration:none;}
      &:hover{
        text-decoration:none;
        .highlight{
          h2{
            text-decoration:none;
          }
        }
      }
      &:focus{
        .highlight{
          h2{
            text-decoration:none;
          }
        }
      }
    }
    text-align:center;
    @include media($xsmall-screen) {}
    @include media($small-screen) {}
    @include media($medium-screen) {
    }
    @include media($large-screen) {
    }
    @include media(rem(1680)){
    }

    img{
      width: 100%;
      height:auto;
    }
  }
  &-image{
      picture{
        display:block;
      }
      img {
        display:block;
      }
     overflow:hidden;
     height:auto;
     background:$uw-black;
  }
  &-text-wrap{
    position:relative;
    @include outer-container();

  }
  &-text{
    z-index:map-get($zindex, header);
    padding:0;
    position:relative;
    height:15rem;
    @include media($small-screen){
     height:12rem;
      }
    @include media($medium-screen){
     height:13rem;
      }
    @include media($large-screen){
      height:inherit;
      }
    @include outer-container();
    .highlight{
      padding:0.75rem 0.5rem 2.5rem 0.5rem;
      margin:0 auto;
      @include media($small-screen){
        // padding:0.5rem 3.5rem 2.5rem 3.5rem;
      }
      @include media($large-screen){
        padding:1rem 2.5rem;      
      }
   
      h2{
      .page-node-35 & ,
      .page-node-2 &,
      .page-node-36 &,
      .page-node-37 &{
        background:transparent !important;
        }
      }
    }
    // min-height:22rem;
    @include media($xsmall-screen){
      // min-height:19rem;
    }
    @include media($small-screen){
     
    }
    @include media($large-screen){
      position:absolute;
      width:100%;
      x-index:100;
       bottom:1.5rem;
      .feature-right & {
        right: 0rem;
        top: 0rem; 
        bottom:0;
        height:100%;
        width:100%;
      }
      .feature-left & {
        left: 0rem;
        top: 0rem; 
        bottom:0;
        height:100%;
        width:100%;
      }
      .feature-center &{
     

     
      }
    }
    @include media($large-screen){
      // min-height:14rem;
      // left: 10rem;
      // right: 10rem;
    }
    @include media(rem(1440)){  
      // left: 18rem;
      // right: 18rem;
    }
    @include media(rem(1680)){
      // left: 24rem;
      // right: 24rem;
    }
     @include media(rem(1920)){
      // left: 32rem;
      // right: 32rem;
    }
     @include media(rem(2560)){
      // left: 40rem;
      // right: 40rem;
    }
  }
}

