.uw-site-quote{

}
/*TO DO: remove this once we have live pull of images*/
.marketing-item-wrap{
  position:relative;
  background-color:rgba(0,0,0,0.4);
  background-image:url(https://wms-sand7.uwaterloo.ca/m26lebla/sites/ca.m26lebla/files/uploads/images/jt.jpg);
  background-blend-mode: multiply;
  background-size:cover;
  background-position:center;
  padding: 6rem 0rem;
  @include media($xsmall-screen){
    padding: 6rem 0rem
  }
  @include media($small-screen){
    padding: 8rem 0rem
  }
  @include media($medium-screen){
      padding: 4rem 0rem;
  }  
  @include media($large-screen){
     padding: 10rem 0rem;
  }
}

.marketing-item{
  background-color:rgba(255,255,255,0.6);
  @include outer-container();
  padding:1rem;
  text-align:center;   
  color:$black;
  h2,h3,h4,h5,h6,p,span,div{

    text-align:center;
  }
}
